<template name="aStart">
<!-- TODO: remove this -->

<!-- modals -->
<div id="modalInstructionsA" class="modal" style="top: 32%;">
    <div class="modal-content">
        <div style="font-weight:bold; text-align:center;">Help Mario reaching Peach Princess by putting the ladder over the canyon!</div>
        <div style="width: 50%; float: left;padding: 10px;">
You are the Coder, you are in control!<br><br>
Click the buttons to compose a sequence of actions in the Story panel and click Play to run your Story.<br>
You can have Mario making decisions about what to do based on the surrounding environment.<br><br>
Troubleshoot any issue in the Story with the help of the Debugger player! </div>
        <div style="width: 50%; float: left;margin-top: 10px;">  <img src="images/screen.png" style="height: 160px;"> </div>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn-flat" style="margin-top: 5vh; width: 100%; text-align: center;">Got it!</a>
    </div>
</div>
<script>
    $('#modalInstructionsA').openModal();
</script>

<div id="modalErrorNoInstruction" class="modal" style="top: 32%;">
    <div class="modal-content" style="text-align: center;">
        <div style="text-align:center;"><span style="font-weight:bold;">ERROR:&nbsp;</span>you need to select an action after a while</div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn-flat" style="margin-top: 5vh; width: 100%; text-align: center;">Ok. Let's fix this...</a>
    </div>
</div>

<div id="modalErrorNoCondition" class="modal" style="top: 32%;">
    <div class="modal-content" style="text-align: center;">
        <div style="text-align:center;"><span style="font-weight:bold;">ERROR:&nbsp;</span>you need a condition after a while/if</div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn-flat" style="margin-top: 5vh; width: 100%; text-align: center;">Ok. Let's fix this...</a>
    </div>
</div>

<div id="modalErrorConditionNegation" class="modal" style="top: 32%;">
    <div class="modal-content" style="text-align: center;">
        <div style="text-align:center;"><span style="font-weight:bold;">ERROR:&nbsp;</span>you need to be in an if or a while to put a condition or a negation</div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn-flat" style="margin-top: 5vh; width: 100%; text-align: center;">Ok. Let's fix this...</a>
    </div>
</div>



<div class='leftcontainer'>

	<div style='height:60%; border-style: solid;'>
		<span class='label'>Story:</span>
		<div style='height:314px; overflow-y: auto;' id='scriptContainer'></div>
		<div id='gamePlayerContainer'>
			<button id='play'>Play</button>
			<button id='reset'>Reset</button>
		</div>
	</div>
	<div id='actionsContainer' style='margin-top:20px; border-style: solid; padding: 10px 0px 10px 0px'>
		<div class='instructionGroup'>
			<div style='float:left' class='label'>Actions:</div>
			<div style='float:left'>
				<button class='action line' id='walkLeft'>Walk Left</button>
				<button class='action line' id='walkRight'>Walk Right</button>
				<button class='action line' id='takeLadder'>Take Ladder</button>
				<button class='action line' id='dropLadder'>Drop Ladder</button>
			</div>
		</div>
		<div style='clear:both'></div>
		<div class='instructionContainerRow instructionGroup'>
			<div style='float:left' class='label'>Repetition:</div>
			<div style='float:left'>
				<button class='think line' id='while'>While</button>
			</div>
		</div>
		<div style='clear:both'></div>
		<div class='instructionContainerRow instructionGroup'>
			<div style='float:left' class='label'>Evaluation:</div>
			<div style='float:left'>
				<button class='think line' id='if'>If</button>
			</div>
		</div>
		<div style='clear:both'></div>
		<div class='instructionContainerRow instructionGroup'>
			<div style='float:left' class='label'>Condition:</div>
			<div style='float:left'>
				<button class='condition line' id='not'>Not</button>
				<button class='condition line' id='AtLadder'>At Ladder</button>
				<button class='condition line' id='AtCanyon'>At Canyon</button>
				<button class='condition line' id='HasLadder'>Has Ladder</button>
			</div>
		</div>
		<div style='clear:both'></div>
	</div>
</div>
<div class='rightcontainer' style='border:solid' id='chat'>{{> chat}}</div>
<div style='clear:both'></div>


</template>
