<template name="aStart">
<style>
	button {
		border-radius: 25px;
		background: #8AC007;
		width: 111px;
		height: 30px;
		text-align: center;

	}

	.label{
		text-align: left;
		margin-top: 4px;
		height: 30px;
		width: 85px;
	}

	.leftcontainer{
		width: 50%;
		float:left;
		margin: 5px 5px 5px 5px;
	}

	.rightcontainer{
		width: 40%;
		float:right;
		margin: 5px 5px 5px 5px;
	}

	.instructionContainerRow{
		margin-top:5px;
	}

	.instructionGroup{
		margin-left:5px;
	}

	#gamePlayerContainer{
		margin: 0px 2px 5px 2px;
	}
</style>
<!-- TODO: remove this -->
<!--<strong>&nbsp;Data sending</strong> -  {{sendStatus}}
<br/><a class="waves-effect waves-light btn" id="send-data">Send sample data</a>-->


<div class='leftcontainer'>

	<div style='height:60%; border-style: solid;'>
		<span class='label'>Plan:</span>
		<div style='height:314px; overflow-y: auto;' id='scriptContainer'></div>
		<div id='gamePlayerContainer'>
			<button id='play'>Play</button>
			<button id='reset'>Reset</button>
		</div>
	</div>
	<div id='actionsContainer' style='margin-top:20px; border-style: solid; padding: 10px 0px 10px 0px'>
		<div class='instructionGroup'>
			<div style='float:left' class='label'>Actions:</div>
			<div style='float:left'>
				<button class='action line' id='walkLeft'>Walk Left</button>
				<button class='action line' id='walkRight'>Walk Right</button>
				<button class='action line' id='takeLadder'>Take Ladder</button>
				<button class='action line' id='dropLadder'>Drop Ladder</button>
			</div>
		</div>
		<div style='clear:both'></div>
		<div class='instructionContainerRow instructionGroup'>
			<div style='float:left' class='label'>Repetition:</div>
			<div style='float:left'>
				<button class='think line' id='while'>While</button>
			</div>
		</div>
		<div style='clear:both'></div>
		<div class='instructionContainerRow instructionGroup'>
			<div style='float:left' class='label'>Evaluation:</div>
			<div style='float:left'>
				<button class='think line' id='if'>If</button>
			</div>
		</div>
		<div style='clear:both'></div>
		<div class='instructionContainerRow instructionGroup'>
			<div style='float:left' class='label'>Condition:</div>
			<div style='float:left'>
				<button class='condition line' id='not'>Not</button>
				<button class='condition line' id='AtLadder'>At Ladder</button>
				<button class='condition line' id='AtCanyon'>At Canyon</button>
				<button class='condition line' id='HasLadder'>Has Ladder</button>
			</div>
		</div>
		<div style='clear:both'></div>
	</div>
</div>
<div class='rightcontainer' style='border:solid' id='chat'>{{> chat}}</div>
<div style='clear:both'></div>

<span class='label'>Execution:</span>
<div id='executionContainer'></div>

</template>
