<template name="bStart">
<div class='rightcontainer' style='border:solid' id='chat'>{{> chat}}</div>
<div class='leftcontainer'>
	<div id="viewport" class='leftcontainer' style="width:100% !important; background-image: url('images/mario_bg_with_ladder.jpg'); height: 377px; float:left; border-style: solid;">
		<div id="sprite" style="padding-top:269px;">
			<img id="sprite-image" src="images/mario_stop.png" style="height:50px;">
		</div>
	</div>
	<div id='logContainer' class='leftcontainer'>
		{{#unless actions}}
		Waiting for actions..
		{{/unless}}
	</div>

	<div id="viewport" class='leftcontainer' style="background-image: url('images/mario_bg_with_ladder.jpg'); height: 377px; float:left; border-style: solid;">
		<div id="sprite" style="padding-top:269px;">
			<img id="sprite-image" src="images/mario_stop.png" style="height:50px;">
		</div>
	</div>

	<div class="row">
		<div class="col m6 offset-m3"> <!--MaterializeCss grid -->
			<ul>
				{{#each actions}}
				<li>{{this.action_name}}</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>
{{functions}} <!-- used by 'hacker helper' -->
</template>
