<template name="bStart">
<div class='rightcontainer' style='border:solid' id='chat'>{{> chat}}</div>
<div class='leftcontainer'>
	<div id="viewport" class='leftcontainer' style="width:100% !important; background-image: url('images/mario_bg.jpg'); height: 377px; float:left; border-style: solid;">
		<div id="sprite" style="padding-top:269px;">
			<img id="sprite-image" src="images/mario_stop.png" style="height:50px;">
		</div>
		<div id="ladder-sprite" style="margin-top:-60px; padding-left:75px;">
			<img id="ladder-sprite-image" src="images/ladder.png" style="height:50px;">
		</div>
	</div>
	<div id='logContainer' class='leftcontainer' style='border:solid'>
		<span class='label'>Program execution:</span>
		{{#unless actions}}
		Waiting for actions..
		{{/unless}}

	<div class="row">
		<div > <!--MaterializeCss grid -->
			<ul style="padding-left: 20px;">
				{{#each actions}}
				<li style='list-style-type:disc !important'>{{this.action_name}}</li>
				{{/each}}
			</ul>
		</div>
	</div>
	</div>
</div>
{{functions}} <!-- used by 'hacker helper' -->
</template>
