<template name="bStart">
    {{infoMessage}}<br/>
    <!-- modals -->
    <div id="modalInstructionsB" class="modal" style="top: 32%;">
        <div class="modal-content">
            <div style="font-weight:bold; text-align:center;">How to play (Coder)</div>
            <div style="margin-top: 10px;"> _ HERE INSTRUCTIONS _ </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect btn-flat" style="margin-top: 5vh; width: 100%; text-align: center;">Got it!</a>
        </div>
    </div>
    <script>
        $('#modalInstructionsB').openModal();
    </script>

    <div class='rightcontainer' style='border:solid' id='chat'>{{> chat}}</div>
<div class='leftcontainer'>
	<div id="viewport" class='leftcontainer' style="width:100% !important; background-image: url('images/mario_bg.jpg'); height: 377px; float:left; border-style: solid;">
		<div id="sprite" style="padding-top:269px;">
			<img id="sprite-image" src="images/mario_stop.png" style="height:50px;">
		</div>
		<div id="ladder-sprite" style="margin-top:-60px; padding-left:75px;">
			<img id="ladder-sprite-image" src="images/ladder.png" style="height:50px;">
		</div>
	</div>
	<div id='logContainer' class='leftcontainer' style='border:solid; width: 100% !important'>
		<span class='label'>Program execution:</span>
		{{#unless actions}}
		Waiting for actions..
		{{/unless}}

	<div class="row">
		<div > <!--MaterializeCss grid -->
			<ul style="padding-left: 20px;">
				{{#each actions}}
				<li style='list-style-type:disc !important'>{{this.action_name}}</li>
				{{/each}}
			</ul>
		</div>
	</div>
	</div>
</div>
{{functions}} <!-- used by 'hacker helper' -->
</template>
