<template name="enterAs">
    <h2 style="text-align: center;">I am...</h2>
    <div class="row">
        <div class="col m6 offset-m3">
            <input name="playerName" type="text" placeholder="What's your name?" value="{{defaultName}}"/>
        </div>
    </div>

    <!-- hidden error modal -->
    <div id="modalUsernameNotSet" class="modal">
        <div class="modal-content" style="text-align: center;">
            Write your name before continuing
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect btn-flat" style="margin-top: 20%; width: 100%; text-align: center;">Got it</a>
        </div>
    </div>

    <h2 style="text-align: center;">I play as...</h2>
    <div class="row">
        <div class="col m4 offset-m1">
            <a data-role="alice" class="player waves-effect waves-light bottone" style="width: 100%;">
		    <div class='playerchoicetext'>Mover</div>
            </a>
        </div>
        <div class="col m4 offset-m1">
            <a data-role="bob" class="player waves-effect waves-light bottone" style="width: 100%;">
		    <div class='playerchoicetext'>Controller</div>
            </a>
        </div>
    </div>
</template>
